{
  "openapi": "3.0.3",
  "info": {
    "title": "govscraperepo MCP API",
    "description": "Semantic search API for discovering code patterns and implementations across UK government repositories. This API provides MCP v2 protocol-compliant endpoints for searching through indexed government code repositories using natural language queries. Powered by Cloudflare AI Search for intelligent, context-aware code discovery.",
    "version": "1.0.0",
    "contact": {
      "name": "GitHub Issues",
      "url": "https://github.com/chrisns/govreposcrape/issues"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://govreposcrape.cloud.cns.me",
      "description": "Production API server"
    }
  ],
  "security": [],
  "paths": {
    "/mcp/search": {
      "post": {
        "summary": "Semantic code search",
        "description": "Execute a semantic search query across indexed UK government repositories. Returns relevant code snippets ranked by similarity score. Supports natural language queries for discovering code patterns, implementations, and examples.",
        "operationId": "searchCode",
        "tags": ["MCP API"],
        "parameters": [
          {
            "name": "X-MCP-Version",
            "in": "header",
            "description": "MCP protocol version (optional but recommended)",
            "required": false,
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "X-Request-ID",
            "in": "header",
            "description": "Client-provided request correlation ID (optional)",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MCPRequest"
              },
              "examples": {
                "authentication": {
                  "summary": "Search for authentication implementations",
                  "value": {
                    "query": "authentication middleware JWT token validation",
                    "limit": 5
                  }
                },
                "api_endpoints": {
                  "summary": "Search for API endpoint patterns",
                  "value": {
                    "query": "REST API endpoint handler Express routes",
                    "limit": 10
                  }
                },
                "data_validation": {
                  "summary": "Search for data validation examples",
                  "value": {
                    "query": "form validation schema Zod TypeScript"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful search with results",
            "headers": {
              "X-MCP-Version": {
                "schema": {
                  "type": "string",
                  "example": "2"
                },
                "description": "MCP protocol version"
              },
              "X-Request-ID": {
                "schema": {
                  "type": "string",
                  "format": "uuid"
                },
                "description": "Request correlation ID"
              },
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                },
                "description": "CORS header for cross-origin requests"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MCPResponse"
                },
                "examples": {
                  "success_with_results": {
                    "summary": "Successful search with 5 results",
                    "value": {
                      "results": [
                        {
                          "repository": "alphagov/govuk-frontend",
                          "file_path": "src/auth/middleware/jwt-validator.ts",
                          "match_snippet": "export function validateJWT(token: string): boolean {\n  const decoded = jwt.verify(token, process.env.JWT_SECRET);\n  return decoded.exp > Date.now();\n}",
                          "relevance_score": 0.92,
                          "metadata": {
                            "language": "TypeScript",
                            "stars": 1250,
                            "last_updated": "2025-11-10T14:30:00Z",
                            "github_url": "https://github.com/alphagov/govuk-frontend"
                          }
                        },
                        {
                          "repository": "ministryofjustice/cloud-platform",
                          "file_path": "lib/auth/token-handler.js",
                          "match_snippet": "class TokenHandler {\n  validateToken(req, res, next) {\n    const token = req.headers.authorization?.split(' ')[1];\n    if (!token) return res.status(401).json({ error: 'No token provided' });\n    // Verify JWT token\n  }\n}",
                          "relevance_score": 0.87,
                          "metadata": {
                            "language": "JavaScript",
                            "stars": 890,
                            "last_updated": "2025-11-09T10:15:00Z",
                            "github_url": "https://github.com/ministryofjustice/cloud-platform"
                          }
                        },
                        {
                          "repository": "nhsconnect/prm-deductions",
                          "file_path": "src/middleware/auth.ts",
                          "match_snippet": "async function authenticateRequest(req: Request): Promise<User> {\n  const authHeader = req.headers.get('Authorization');\n  const token = extractToken(authHeader);\n  return await verifyJWT(token);\n}",
                          "relevance_score": 0.84,
                          "metadata": {
                            "language": "TypeScript",
                            "stars": 450,
                            "last_updated": "2025-11-08T16:45:00Z",
                            "github_url": "https://github.com/nhsconnect/prm-deductions"
                          }
                        },
                        {
                          "repository": "defra/water-abstraction-service",
                          "file_path": "server/auth/jwt-strategy.js",
                          "match_snippet": "const JWTStrategy = require('passport-jwt').Strategy;\nconst opts = {\n  jwtFromRequest: ExtractJwt.fromAuthHeaderAsBearerToken(),\n  secretOrKey: config.jwt.secret\n};",
                          "relevance_score": 0.79,
                          "metadata": {
                            "language": "JavaScript",
                            "stars": 320,
                            "last_updated": "2025-11-07T12:00:00Z",
                            "github_url": "https://github.com/defra/water-abstraction-service"
                          }
                        },
                        {
                          "repository": "DFE-Digital/login.dfe.public-api",
                          "file_path": "src/app/utils/jwtAuth.js",
                          "match_snippet": "const validateJwtToken = (token) => {\n  try {\n    const decoded = jwt.verify(token, config.auth.jwtSecret);\n    return { valid: true, userId: decoded.sub };\n  } catch (err) {\n    return { valid: false, error: err.message };\n  }\n};",
                          "relevance_score": 0.75,
                          "metadata": {
                            "language": "JavaScript",
                            "stars": 180,
                            "last_updated": "2025-11-06T09:30:00Z",
                            "github_url": "https://github.com/DFE-Digital/login.dfe.public-api"
                          }
                        }
                      ],
                      "took_ms": 245
                    }
                  },
                  "no_results": {
                    "summary": "Successful search with no results",
                    "value": {
                      "results": [],
                      "took_ms": 120
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request - invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "query_too_short": {
                    "summary": "Query below minimum length",
                    "value": {
                      "error": {
                        "code": "INVALID_QUERY",
                        "message": "Query must be at least 3 characters"
                      }
                    }
                  },
                  "query_too_long": {
                    "summary": "Query exceeds maximum length",
                    "value": {
                      "error": {
                        "code": "INVALID_QUERY",
                        "message": "Query must be at most 500 characters"
                      }
                    }
                  },
                  "invalid_limit": {
                    "summary": "Limit out of range",
                    "value": {
                      "error": {
                        "code": "INVALID_LIMIT",
                        "message": "Limit must be between 1 and 20"
                      }
                    }
                  },
                  "invalid_content_type": {
                    "summary": "Wrong Content-Type header",
                    "value": {
                      "error": {
                        "code": "INVALID_CONTENT_TYPE",
                        "message": "Content-Type must be application/json"
                      }
                    }
                  },
                  "malformed_json": {
                    "summary": "Invalid JSON in request body",
                    "value": {
                      "error": {
                        "code": "MALFORMED_JSON",
                        "message": "Request body must be valid JSON"
                      }
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "internal_error": {
                    "summary": "Unexpected internal error",
                    "value": {
                      "error": {
                        "code": "INTERNAL_ERROR",
                        "message": "An unexpected error occurred"
                      }
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service unavailable - search service temporarily unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                },
                "examples": {
                  "search_service_down": {
                    "summary": "AI Search service unavailable",
                    "value": {
                      "error": {
                        "code": "SEARCH_ERROR",
                        "message": "Search service is temporarily unavailable",
                        "retry_after": 60
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp/health": {
      "get": {
        "summary": "Health check",
        "description": "Check the health status of all service dependencies (KV, R2, Vectorize, D1, AI Search). Returns 200 OK when all services are accessible, 503 Service Unavailable when any service fails.",
        "operationId": "checkHealth",
        "tags": ["MCP API"],
        "responses": {
          "200": {
            "description": "All services healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthCheckResponse"
                },
                "examples": {
                  "all_healthy": {
                    "summary": "All services operational",
                    "value": {
                      "status": "healthy",
                      "services": {
                        "kv": {
                          "name": "KV Namespace",
                          "status": "ok"
                        },
                        "r2": {
                          "name": "R2 Bucket",
                          "status": "ok"
                        },
                        "vectorize": {
                          "name": "Vectorize Index",
                          "status": "ok"
                        },
                        "d1": {
                          "name": "D1 Database",
                          "status": "ok"
                        },
                        "ai_search": {
                          "name": "AI Search",
                          "status": "ok"
                        }
                      },
                      "timestamp": "2025-11-14T10:30:00.000Z"
                    }
                  }
                }
              }
            }
          },
          "503": {
            "description": "One or more services unhealthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "SERVICE_UNAVAILABLE"
                        },
                        "message": {
                          "type": "string",
                          "example": "One or more services are unavailable"
                        }
                      },
                      "required": ["code", "message"]
                    },
                    "details": {
                      "$ref": "#/components/schemas/HealthCheckResponse"
                    }
                  },
                  "required": ["error", "details"]
                },
                "examples": {
                  "ai_search_down": {
                    "summary": "AI Search service failure",
                    "value": {
                      "error": {
                        "code": "SERVICE_UNAVAILABLE",
                        "message": "One or more services are unavailable"
                      },
                      "details": {
                        "status": "unhealthy",
                        "services": {
                          "kv": {
                            "name": "KV Namespace",
                            "status": "ok"
                          },
                          "r2": {
                            "name": "R2 Bucket",
                            "status": "ok"
                          },
                          "vectorize": {
                            "name": "Vectorize Index",
                            "status": "ok"
                          },
                          "d1": {
                            "name": "D1 Database",
                            "status": "ok"
                          },
                          "ai_search": {
                            "name": "AI Search",
                            "status": "failed",
                            "error": "Connection timeout"
                          }
                        },
                        "timestamp": "2025-11-14T10:30:00.000Z"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MCPRequest": {
        "type": "object",
        "description": "MCP v2 search request payload",
        "required": ["query"],
        "properties": {
          "query": {
            "type": "string",
            "description": "Natural language search query (3-500 characters). Use descriptive phrases to find relevant code patterns, implementations, or examples.",
            "minLength": 3,
            "maxLength": 500,
            "example": "authentication middleware JWT token validation"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of results to return (1-20). Defaults to 5 if not specified.",
            "minimum": 1,
            "maximum": 20,
            "default": 5,
            "example": 10
          }
        }
      },
      "MCPResponse": {
        "type": "object",
        "description": "MCP v2 search response with results and performance metrics",
        "required": ["results", "took_ms"],
        "properties": {
          "results": {
            "type": "array",
            "description": "Array of search results ranked by relevance score (highest first). May be empty if no matches found.",
            "items": {
              "$ref": "#/components/schemas/SearchResult"
            }
          },
          "took_ms": {
            "type": "number",
            "description": "Query execution time in milliseconds",
            "example": 245
          }
        }
      },
      "SearchResult": {
        "type": "object",
        "description": "A single search result with code snippet and repository metadata",
        "required": [
          "repository",
          "file_path",
          "match_snippet",
          "relevance_score",
          "metadata"
        ],
        "properties": {
          "repository": {
            "type": "string",
            "description": "Repository identifier in 'org/repo' format",
            "example": "alphagov/govuk-frontend"
          },
          "file_path": {
            "type": "string",
            "description": "Path to the file within the repository",
            "example": "src/auth/middleware/jwt-validator.ts"
          },
          "match_snippet": {
            "type": "string",
            "description": "Code snippet matching the search query (may be truncated for brevity)",
            "example": "export function validateJWT(token: string): boolean {\n  const decoded = jwt.verify(token, process.env.JWT_SECRET);\n  return decoded.exp > Date.now();\n}"
          },
          "relevance_score": {
            "type": "number",
            "description": "Semantic similarity score (0.0-1.0) indicating relevance to query. Higher scores indicate better matches.",
            "minimum": 0.0,
            "maximum": 1.0,
            "example": 0.92
          },
          "metadata": {
            "type": "object",
            "description": "Additional repository and result metadata",
            "required": ["language", "stars", "last_updated", "github_url"],
            "properties": {
              "language": {
                "type": "string",
                "description": "Primary programming language of the file",
                "example": "TypeScript"
              },
              "stars": {
                "type": "integer",
                "description": "GitHub star count for the repository",
                "example": 1250
              },
              "last_updated": {
                "type": "string",
                "format": "date-time",
                "description": "Last update timestamp (ISO 8601 format)",
                "example": "2025-11-10T14:30:00Z"
              },
              "github_url": {
                "type": "string",
                "format": "uri",
                "description": "Direct link to the GitHub repository",
                "example": "https://github.com/alphagov/govuk-frontend"
              }
            }
          }
        }
      },
      "HealthCheckResponse": {
        "type": "object",
        "description": "Health check response showing status of all service dependencies",
        "required": ["status", "services", "timestamp"],
        "properties": {
          "status": {
            "type": "string",
            "description": "Overall health status: 'healthy' when all services ok, 'unhealthy' when any service fails",
            "enum": ["healthy", "unhealthy"],
            "example": "healthy"
          },
          "services": {
            "type": "object",
            "description": "Individual service health statuses",
            "additionalProperties": {
              "$ref": "#/components/schemas/ServiceStatus"
            },
            "example": {
              "kv": {
                "name": "KV Namespace",
                "status": "ok"
              },
              "r2": {
                "name": "R2 Bucket",
                "status": "ok"
              },
              "vectorize": {
                "name": "Vectorize Index",
                "status": "ok"
              },
              "d1": {
                "name": "D1 Database",
                "status": "ok"
              },
              "ai_search": {
                "name": "AI Search",
                "status": "ok"
              }
            }
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Health check execution time (ISO 8601 format)",
            "example": "2025-11-14T10:30:00.000Z"
          }
        }
      },
      "ServiceStatus": {
        "type": "object",
        "description": "Health status for a single service",
        "required": ["name", "status"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Human-readable service name",
            "example": "AI Search"
          },
          "status": {
            "type": "string",
            "description": "Service connection status",
            "enum": ["ok", "failed"],
            "example": "ok"
          },
          "error": {
            "type": "string",
            "description": "Error message if service status is 'failed' (optional)",
            "example": "Connection timeout"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Structured error response for all API errors",
        "required": ["error"],
        "properties": {
          "error": {
            "type": "object",
            "description": "Error details with machine-readable code and human-readable message",
            "required": ["code", "message"],
            "properties": {
              "code": {
                "type": "string",
                "description": "Machine-readable error code for programmatic handling",
                "enum": [
                  "INVALID_QUERY",
                  "INVALID_LIMIT",
                  "INVALID_CONTENT_TYPE",
                  "MALFORMED_JSON",
                  "PAYLOAD_TOO_LARGE",
                  "SEARCH_ERROR",
                  "INTERNAL_ERROR",
                  "SERVICE_UNAVAILABLE"
                ],
                "example": "INVALID_QUERY"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message explaining what went wrong",
                "example": "Query must be at least 3 characters"
              },
              "retry_after": {
                "type": "integer",
                "description": "Suggested retry delay in seconds (optional, for rate limiting or service unavailable errors)",
                "example": 60
              }
            }
          }
        }
      }
    },
    "securitySchemes": {}
  },
  "tags": [
    {
      "name": "MCP API",
      "description": "MCP v2 protocol endpoints for semantic code search and health monitoring"
    }
  ],
  "externalDocs": {
    "description": "Integration guides and documentation",
    "url": "https://github.com/chrisns/govreposcrape/blob/main/README.md"
  }
}
